extends layout 

block content
    h1= "NOSSOS PRODUTOS"
    h4= "PC TOPE"
    img(src="https://pensamentoverde.com.br/wp-content/uploads/2013/11/img62.jpg")
    h4= "PC DE HACKER"
    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4V_AOIuwO9DIUwQYlL2gaZOk1ntew7boNgA&s")
    h4= "RAM BARATA"
    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS4wfGcSmdjeCCJlFtEnI0uKfD1QB7OS65vQ&s")
    br
    a(href="/produtos/carrinho")
        button= "VER CARRINHO"